# Port number
PORT=

# URL of the Mongo DB
MONGODB_URL=

# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=
# Number of hours before a survey expires
JWT_SURVEY_RESPONSE_EXPIRATION_HOURS=

# Sendgrid configuration options for the email service
SENDGRID_API_KEY=
SENDGRID_VERIFY_EMAIL_TEMPLATE_ID=
SENDGRID_RESET_PASSWORD_TEMPLATE_ID=
SENDGRID_JOIN_TEAM_TEMPLATE_ID=
SENDGRID_TAKE_SURVEY_TEMPLATE_ID=
EMAIL_FROM=
WEB_APP_URL=
CAMPAIGNS_LIMIT_PER_ORGANIZATION=
MIRTH_API_KEY=
MIRTH_USER=
GOOGLE_RECAPTCHA_SECRET=
